*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #1f8fc3;
}
.wrapper{
    width: 26.25rem;
    /* background-color: rgb(73, 99, 226); */
    counter-reset: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    border: 2px solid rgba(225, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 2px solid rgba(255, 255, 255, .2);
}

.wrapper h1{
    font-size: 2.30rem;
    text-align: center;
    padding-top: 2rem;
}

.wrapper .input-box{
    width: 90%;
    height: 3.2rem;
    margin: 1.9rem 0;
}

.input-box{
    display: flex;
}
.input-box i{
    margin-top: 1rem;
    margin-left: 1rem;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 2.5rem;
    margin-left: 2rem;
    font-size: 1rem;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
    font-size: 1.5rem;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 70%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-left: 2rem;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}